body{text-align: center;
    color:white;
    background-color: rgb(8, 8, 8);
    font-size: 40px;
}

#header a{ padding: 0px 15px;
    color: rgb(255, 255, 255);
}

#header {
    background-color: rgb(255, 151, 6);
    max-width: 100%;
}

.catalogo , .foto{ text-align: center;
        width: 50%;
        height: 50%;    
    foto img{
        max-width: 5%;
        max-height: 5%;
        width: 50%;
        height: 50%;
        object-fit: cover;
        overflow: hidden;
    }
}
